body {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
}
header {
    width:100%; 
    height:50px; 
    background-color:mediumpurple;
    /* border:solid 2px black;
    border-radius: 50px; */
}
section {
    width:100%; 
    height:100px; 
    background-color: #234def;

	/* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; */
}
.about-me {
    width: 100%; 
    height:200px; 
    background-color:#7fffd4;
    margin: 10px 0 10px 0;
    border: solid 10px black;
    border-radius: 15px;
}

.avatar {
    width:100px;
    border-radius: 50px;
}
 #name {
    color:royalblue
 }

.test{
	width: 30px;
	height: 30px;
	background-color:red;
	margin: 10px;}